<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d37475">  <td>19/06/25 21:23:14</td>   <td>0</td> <td title="&gt;&gt;TestBase.StartDriver(java.lang.String)[pri:0, instance:tests.Login@1d371b2d]">&gt;&gt;StartDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@668210649</td>   <td></td> </tr>
<tr bgcolor="b1ffe6">  <td>19/06/25 21:23:37</td>   <td>23127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SignIn(java.lang.String, java.lang.String)[pri:0, instance:tests.Login@1d371b2d]">SignIn</td> 
  <td>main@668210649</td>   <td></td> </tr>
<tr bgcolor="d37475">  <td>19/06/25 21:23:43</td>   <td>29240</td> <td title="&lt;&lt;TestBase.stopDriver()[pri:0, instance:tests.Login@1d371b2d]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@668210649</td>   <td></td> </tr>
</table>
