<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0efb8">  <td>19/06/27 18:43:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateEvent.OpenCalnder()[pri:0, instance:tests.CreateEvent@7403c468]">OpenCalnder</td> 
  <td>main@1375995437</td>   <td></td> </tr>
<tr bgcolor="7aecef">  <td>19/06/27 18:43:20</td>   <td>-5941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SignIn(java.lang.String, java.lang.String)[pri:0, instance:tests.Login@51c8530f]">SignIn</td> 
  <td>main@1375995437</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>19/06/27 18:42:54</td>   <td>-31876</td> <td title="&gt;&gt;TestBase.StartDriver(java.lang.String)[pri:0, instance:tests.Login@51c8530f]">&gt;&gt;StartDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1375995437</td>   <td></td> </tr>
<tr bgcolor="d2fa64">  <td>19/06/27 18:44:25</td>   <td>59187</td> <td title="&lt;&lt;TestBase.stopDriver()[pri:0, instance:tests.Login@51c8530f]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1375995437</td>   <td></td> </tr>
</table>
